:root {
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, sans-serif;
  color-scheme: dark;
  font-size: 17.45px;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  background: #13191f;
  color: #e2e8f0;
  font-weight: 500;
}
